
<mat-toolbar class="nav">
  <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="menu">
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/home']" [routerLinkActive]="['active-link']">Home</button>
      <button mat-menu-item [routerLink]="['/weather']" [routerLinkActive]="['active-link']">Weather</button>
      <button mat-menu-item  [routerLink]="['/parking']" [routerLinkActive]="['active-link']">Parking</button>
    </mat-menu>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
